<div id="create-field-modal" class="reveal-modal open" data-reveal tabindex="0" aria-hidden="false"
     style="display: block; opacity: 1; visibility: visible; top: 100px; max-height: 500px">
    <header class="modal-title">
        Create a field
    </header>
    Adding a new field to <strong>{[ scenario.name ]}{[ scenario.rootName ]}</strong>
    <form name="myForm">
        <ul class="fa-ul">
            <li>
                <div>
                    <label class="required">
                        Name
                        <input required type="text" name="name" autofocus placeHolder="enter a new name..."
                               ng-model="newScenario.fieldName" ng-pattern="/^[a-zA-Z0-9]*$/">
                    </label>
                    <label ng-show="myForm.name.$error.pattern">
                        A field may not contain a space
                    </label>
                </div>
                <div>
                    <label class="required">
                        Score
                        <input type="number" name="score" placeHolder="enter a score..." ng-model="newScenario.score"
                               ng-pattern="/^[1-5]$/">
                    </label>
                    <label ng-show="myForm.score.$invalid">
                        Score must be in the range 1 - 5
                    </label>
                </div>
                <div>
                    <label>
                        Data
                        <input type="text" placeHolder="enter new data..." ng-model="newScenario.data">
                    </label>
                </div>
                <span>
                <input id="checkbox-{[ scenario.notEqual ]}" type="checkbox" ng-model="newScenario.notEqual">
                <label for="checkbox-{[ scenario.notEqual ]}">Data not equal to</label>
            </span>
            </li>
        </ul>
    </form>
    <ul class="form-actions">
        <li>
            <button class="button" ng-click="cancelModal()">Cancel</button>
        </li>
        <li>
            <button class="confirm" ng-click="closeModal()"
                    ng-disabled="!newScenario.fieldName || !newScenario.score || (newScenario.score > 5 || newScenario.score < 1 || newScenario.score == 0)">
                Finish
            </button>
        </li>
    </ul>
    <a class="close-reveal-modal" ng-click="cancelModal()">x</a>
</div>
