<div id="edit-modal" name="editModal" class="reveal-modal warning open" tabindex="0" aria-hidden="false"
     style="display: block; opacity: 1; visibility: visible; top: 100px; max-height: 500px; width: auto">
    <header class="modal-title">
        edit a field
    </header>
    Editing field <strong>{[ newScenario.name ]}</strong>
    <ul class="fa-ul">
        <li>
            <div>
                <label class="required">
                    Name
                    <input type="text" autofocus placeHolder="enter a new field name..."
                           ng-model="newScenario.name">
                </label>
            </div>
            <div>
                <label class="required">
                    Score
                    <input type="number" placeHolder="enter a score..." ng-model="newScenario.score">
                </label>
                <label ng-show="newScenario.score && (newScenario.score > 5 || newScenario.score < 1)">
                    Score must be in the range 1 - 5
                </label>
            </div>
            <div>
                <label>
                    Data
                    <input type="text" placeHolder="enter data..." ng-model="newScenario.data">
                </label>
            </div>
            <span>
                <input id="checkbox-{[ newScenario.notEqual ]}" type="checkbox" ng-checked="newScenario.notEqual"
                       ng-model="newScenario.notEqual">
                <label for="checkbox-{[ newScenario.notEqual ]}">Data not equal to</label>
            </span>
        </li>
    </ul>
    <ul class="form-actions">
        <li class="msg">
            <strong>Fair warning:</strong> this cannot be undone, but re-edited.
        </li>
        <li>
            <button class="button" ng-click="cancelModal()">Cancel</button>
        </li>
        <li>
            <button class="confirm" ng-click="closeModal()"
                    ng-disabled="!newScenario.name || (!newScenario.score ||
                    newScenario.score > 5 || newScenario.score < 1)">
                Finish
            </button>
        </li>
    </ul>
    <a class="close-reveal-modal" ng-click="cancelModal()">x</a>
</div>
