<div id="edit-modal" name="editModal" class="reveal-modal warning open" tabindex="0" aria-hidden="false"
     style="display: block; opacity: 1; visibility: visible; top: 100px; max-height: 500px; width: auto">
    <header class="modal-title">
        edit a scenario
    </header>
    Editing scenario <strong>'{[ scenario.name ]}</strong>
    <ul class="fa-ul">
        <li>
            <div>
                <label class="required">
                    Scenario
                    <input type="text" autofocus placeHolder="enter a new scenario name..."
                           ng-model="newScenario.name">
                </label>
            </div>
            <div>
                <label class="required">
                    Description
                    <input type="text" placeHolder="enter a new description..."
                           ng-model="newScenario.description">
                </label>
            </div>
            <div class="row" ng-repeat="_data in data">
                <div class="large-4 small-4 columns">
                    <label class="required">
                        Doc Type

                        <select ng-model="newScenario.data" ng-init="newScenario.data = data[0]"
                                ng-options="data1.docType for data1 in allData track by data1.id"></select>
                    </label>
                </div>
                <div class="large-10 small-10 columns">
                    <label class="required">
                        Root Name
                        <input ng-disabled="true" type="text"
                               placeHolder="Root Name is required if file is not uploaded..."
                               ng-model="newScenario.rootname">
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="large-4 small-4 columns">
                    <label title="Fulfillment Type">
                        Fulfillment Type
                        <select name="singleSelect" ng-model="newScenario.fulfillmenttype">
                            <option value="">None</option>
                            <option ng-repeat="fulfillmentType in fulfillmentTypeOptions" value="{[ fulfillmentType ]}">
                                {[ fulfillmentType ]}
                            </option>
                        </select>
                    </label>
                </div>
                <div class="large-10 small-10 columns">
                    <label title="Required to download a scenario">
                        Schema association
                        <select name="singleSelect" ng-model="newScenario.schema">
                            <option value="">None</option>
                            <option ng-repeat="schema in schemas" value="{[ schema.name ]}">{[ schema.name ]}</option>
                        </select>
                    </label>
                </div>
            </div>
        </li>
    </ul>
    <ul class="form-actions">
        <li class="msg">
            <strong>Fair warning:</strong> this cannot be undone, but re-edited.
        </li>
        <li>
            <button class="button" ng-click="cancelModal()">Cancel</button>
        </li>
        <li>
            <button class="confirm" ng-click="closeModal()"
                    ng-disabled="!newScenario.name || !newScenario.description || !newScenario.data.docType">
                Finish
            </button>
        </li>
    </ul>
    <a class="close-reveal-modal" ng-click="cancelModal()">x</a>
</div>
