<div id="schema-modal" class="reveal-modal open" data-reveal tabindex="0" aria-hidden="false" style="display: block; opacity: 1; visibility: visible; top: 100px; max-height: 500px; width: auto">
  <header class="modal-title">
    Manage schemas
  </header>
  <div class="row">
    <div class="large-8 columns">
      <ul class="fa-ul">
          <li>
            <div class="droparea" drag-drop>
              <div class="row">
                <input type="file" ng-model-instant id="fileToUpload" onchange="angular.element(this).scope().setFiles(this)" />
              </div>
              <div id="dropbox" ng-hide="files.length" class="dropbox" ><span>{[dropText]}</span></div>
              <div ng-show="files.length">
                  <div ng-repeat="file in files.slice(0)">
                      <span>{[file.webkitRelativePath || file.name]}</span>
                      (<span ng-switch="file.size > 1024*1024">
                          <span ng-switch-when="true">{[file.size / 1024 / 1024 | number:2]} MB</span>
                          <span ng-switch-default>{[file.size / 1024 | number:2]} kB</span>
                      </span>)
                  </div>
              </div>
            </div>
            <span style="font-size: .8em"><strong>Note</strong>: MUST be a valid .xsd file</span>
          </li>
          <li>
            <div>
              <label class="required">
                Document Name
                <input type="text" autofocus placeHolder="Document name (Invoice, Order, etc)..." ng-model="schema.docType">
              </label>
            </div>
          </li>
          <li>
            <div>
              <label class="required">
                Version
                <input type="text" placeHolder="version/short description (7.6.1, 7.7, etc)..." ng-model="schema.version">
              </label>
            </div>
          </li>
          <li>
            <div>
              <label>
                New schema name: {[ schema.docType ]}-{[ schema.version ]}
              </label>
            </div>
          </li>
          <li style="text-align: center">
            <button ng-click="addSchema()" class="confirm" ng-disabled="!schema.docType || !schema.version || !files">
            Add schema
            </button>
          </li>
      </ul>
    </div>
    <div class="large-8 columns">
      <select name="schemas" size="13" ng-model="schema.delete">
        <option ng-repeat="schema in schemas" value="{[ schema.name ]}">{[ schema.name ]}</option>
      </select>
      <div style="text-align: center">
        <button ng-click="deleteSchema()" class="confirm" ng-disabled="!schema.delete">
        Delete schema
        </button>
      </div>
    </div>
  </div>
  <ul class="form-actions">
    <li class="msg">
      <strong>Recommendation:</strong> Schema name should include version and document type.
    </li>
    <li>
      <button class="button" ng-click="cancelModal()">Cancel</button>
    </li>
  </ul>
  <a class="close-reveal-modal" ng-click="cancelModal()">x</a>
</div>
