<div class="row">
    <spsui-feedback-container feedback-id="myMessages"></spsui-feedback-container>
    <div class="row">
        <div class="small-16 large-16 columns panel toolbar" ng-include="'views/toolBar.html'">
        </div>
    </div>
    <div class="row">
        <div class="small-16 large-8 columns panel condensed" ng-include="'views/scenariosTable.html'">
        </div>
        <div class="large-7 columns panel condensed table">
            <div ng-hide="hideFieldsView" ng-include="'views/fieldsView.html'">
            </div>
            <div ng-hide="hideTestTable" ng-include="'views/scenariosTestTable.html'">
            </div>
        </div>
    </div>
    <div>
        <ui-view></ui-view>
    </div>
</div>
