<div>
    <div ng-repeat="scenario in currentScenario">
        <div class="scenario-tree" ng-hide="closeRoot">
            <div ng-include="'scenarioView'">
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="scenarioView">
        <div class="tree-node" title="{[ scenario.rootName ]}">
            <div class="tree-node-container">
                <div ng-click="scenario.closeRoot = !scenario.closeRoot">
                    <div class="icon-container">
                        <i class="node-icon"
                           ng-class="{'fa fa-folder': scenario.closeRoot, 'fa fa-folder-open-o': !scenario.groups && !scenario.fields,  'fa fa-folder-open': !scenario.closeRoot}">
                        </i>
                    </div>
                    <div class="node-label">
                        {[ scenario.rootName ]}
                    </div>
                </div>
                <div class="btn-group" ng-class="{open: menuOpen == scenario.rootName + '-' + scenario.scenId}">
                    <button class="btn transparent-button dropdown-toggle" data-toggle="dropdown"
                            ng-click='openMenu(scenario.rootName + "-" + scenario.scenId)'>
                        <span class="fa fa-ellipsis-h">
                        </span>
                    </button>
                    <ul class="dropdown-menu" style="left: -120;">
                        <li>
                            <a class="no-border" title="add group"
                               ng-click="openModal('addGroup', scenario); openMenu('')">
                                <i class="fa fa-plus"></i>
                                Add new group
                            </a>
                        </li>
                        <li>
                            <a class="no-border" title="add field"
                               ng-click="openModal('addField', scenario); openMenu('')">
                                <i class="fa fa-plus"></i>
                                Add new field
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div ng-hide="scenario.closeRoot && !$parent.expandAll" ng-repeat="field in scenario.fields"
                 ng-include="'fieldView'">
            </div>
            <div ng-hide="scenario.closeRoot" ng-repeat="group in scenario.groups" ng-include="'groupView'">
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="groupView">
        <div class="tree-node" title="{[ group.name ]}">
            <div class="tree-node-container">
                <div ng-click="group.expandedGroup = !group.expandedGroup">
                    <div class="icon-container">
                        <i class="node-icon"
                           ng-class="{'fa fa-folder': group.expandedGroup, 'fa fa-folder-open-o': !group.groups && !group.fields, 'fa fa-folder-open': !group.expandedGroup}">
                        </i>
                    </div>
                    <div class="node-label">
                        {[ group.name ]}
                    </div>
                </div>
                <div class="btn-group" ng-class="{open: menuOpen == group.name + '-' + group.groupId}">
                    <button class="btn transparent-button dropdown-toggle" data-toggle="dropdown"
                            ng-click='openMenu(group.name + "-" + group.groupId)'><span
                            class="fa fa-ellipsis-h"></span></button>
                    <ul class="dropdown-menu" style="left: -120;">
                        <li>
                            <a class="no-border" title="add field"
                               ng-click="openModal('addField', group); openMenu('')">
                                <i class="fa fa-plus"></i>
                                Add new field
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="no-border" title="add group"
                               ng-click="openModal('addGroup', group); openMenu('')">
                                <i class="fa fa-plus"></i>
                                Add new group
                            </a>
                        </li>
                        <li>
                            <a class="no-border" title="edit group"
                               ng-click="openModal('editGroup', group); openMenu('')">
                                <i class="fa fa-edit"></i>
                                Edit group
                            </a>
                        </li>
                        <li>
                            <a class="no-border" title="delete group"
                               ng-click="openModal('removeGroup', group); openMenu('')">
                                <i class="fa fa-trash-o"></i>
                                Delete group
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="fields-container">
                <div ng-if="!$parent.group.expandedGroup" ng-repeat="field in group.fields" ng-include="'fieldView'">
                </div>
            </div>
            <div ng-if="!$parent.group.expandedGroup" ng-repeat="group in group.groups" ng-include="'groupView'">
            </div>
        </div>
    </script>
    <script type="text/ng-template" id="fieldView">
        <div class="tree-node" ng-hide="$parent.group.expandedGroup" title="{[ field.name ]}">
            <div class="tree-node-container btn-group" ng-class="{open: menuOpen == field.name + '-' + field.fieldId}">
                <div class="icon-container">
                    <i class="node-icon fa fa-file-o">
                    </i>
                </div>
                <div class="node-label">
                    {[ field.name ]}
                </div>
                <button class="btn transparent-button dropdown-toggle" data-toggle="dropdown"
                        ng-click='openMenu(field.name + "-" + field.fieldId)'>
                    <span
                            class="fa fa-ellipsis-h">
                    </span>
                </button>
                <ul class="dropdown-menu" style="left: -120;">
                    <li>
                        <a class="no-border" title="edit field"
                           ng-click="openModal('editField', field); openMenu('')">
                            <i class="fa fa-edit">
                                Edit field
                            </i>
                        </a>
                    </li>
                    <li>
                        <a class="no-border" title="delete field"
                           ng-click="openModal('removeField', field); openMenu('')">
                            <i class="fa fa-trash-o">
                                Delete field
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </script>
</div>
<span class="txt-center" ng-hide="selectedScenario != ''">
    <h2>Select a scenario to see groups and fields</h2>
</span>
<span class="txt-center"
      ng-show="selectedScenario != '' && currentScenario.groups == '' && currentScenario.fields == ''">
    <h2>The selected scenario does not have any fields</h2>
</span>
