<div class="col-xs-5">
    <div class="input-group input-group-sm" ng-hide="hideRightSearch">
    <span class="input-group-addon" bs-icon="search">
      <span class="glyphicon glyphicon-search"></span>
    </span>
        <input type="search" id="scenarioFilter" class="file-browser-search form-control" placeholder="Filter ESPs..."
               ng-model="espFilter.filter"/>
    <span class="input-group-addon pointer-cursor" ng-click="espFilter.filter = ''" title="Clear filter"
          bs-icon="remove">
      <span class="glyphicon glyphicon-remove"></span>
    </span>
    </div>
    <div class="input-group input-group-sm" ng-hide="hideUpload">
    <span>
      <button class="button" ng-click="openModal('upload', '')" title="Upload a file to test against">
        <i class="fa fa-cloud-upload fa-lg" ng-hide="fileUploaded"></i>
        <i class="fa fa-check fa-lg" ng-hide="!fileUploaded"></i>&nbsp;
         {[fileUploaded ? 'Test File Uploaded' : 'Upload Test File' ]}
      </button>
    </span>
    </div>
</div>
<div class="col-xs-4">
    <div class="input-group input-group-sm" ng-show="hideExpandCollapse">
    <span>
      <button class="button" ng-show="!expandAll" ng-click="expandAll = !expandAll" title="Expand all"
              ng-disabled="selectedScenario == ''">
        <i class="fa fa-expand"></i>
         Expand all
      </button>
      <button class="button" ng-show="expandAll" ng-click="expandAll = !expandAll" title="Collapse All"
              ng-disabled="selectedScenario == ''">
        <i class="fa fa-compress"></i>
         Collapse all
      </button>
    </span>
    </div>
    <div class="input-group input-group-sm" ng-hide="hideTestButton">
        <button class="key" title="Run Test" ng-click="compareAndDownload()"
                ng-disabled="scenariosTestList == '' || !fileUploaded">
            Run Test
        </button>
    </div>
</div>
<div class="toolbar-right">
  <span class="table-actions">
    <a href class="button no-border" title="future enhancement placeholder ;)">
      <i class="fa fa-columns fa-20"></i>
    </a>
  </span>
</div>
