<div class="col-xs-5">
    <div class="input-group input-group-sm" ng-hide="hideRightSearch">
    <span class="input-group-addon" bs-icon="search">
      <span class="glyphicon glyphicon-search"></span>
    </span>
        <input type="search" id="scenarioFilter" class="file-browser-search form-control" placeholder="Filter ESPs..."
               ng-model="espFilter.filter"/>
        <span class="input-group-addon pointer-cursor" ng-click="espFilter.filter = ''" title="Clear filter"
              bs-icon="remove">
      <span class="glyphicon glyphicon-remove"></span>
    </span>
    </div>
    <div class="input-group input-group-sm" ng-hide="hideUpload">
    <span>
      <button class="button" ng-click="openModal()" title="Upload a file to test against">
        <i class="(fileUploaded ? fa fa-check fa-lg : fa fa-cloud-upload fa-lg)"></i>
         {[fileUploaded ? 'Test File Uploaded' : 'Upload Test File' ]}
      </button>
    </span>
    </div>
</div>
<div class="col-xs-3">
    <div class="input-group input-group-sm" ng-show="hideExpandCollapse">
    <span>
      <button class="button" ng-show="!expandAll" ng-click="expandAll = !expandAll" title="Expand all"
              ng-disabled="selectedScenario == ''">
        <i class="fa fa-expand"></i>
         Expand all
      </button>
      <button class="button" ng-show="expandAll" ng-click="expandAll = !expandAll" title="Collapse All"
              ng-disabled="selectedScenario == ''">
        <i class="fa fa-compress"></i>
         Collapse all
      </button>
    </span>
    </div>
    <div class="input-group input-group-sm" ng-hide="hideTestButton">
        <div uib-dropdown is-open="status.isopen">
            <button type="button" class="key" uib-dropdown-toggle
                    ng-disabled="scenariosTestList == '' || !fileUploaded">
                Test against... <span class="caret"></span>
            </button>
            <ul class="uib-dropdown-menu" role="menu" aria-labelledby="single-button">
                <li role="menuitem"><a ng-click="compareAndDownload(true, true)">Data and Schema</a></li>
                <li role="menuitem"><a ng-click="compareAndDownload(true, false)">Data only</a></li>
                <li role="menuitem"><a ng-click="compareAndDownload(false, true)">Schema only</a></li>
                <li class="divider"></li>
                <li role="menuitem"><a ng-click="compareAndDownload(false, false)">Neither</a></li>
            </ul>
        </div>
    </div>
</div>